* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.layout {
  position: relative;
  min-height: 100%;
  min-width: 900px;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}

.content {
  padding-top: 60px;
  flex-grow: 2;
}

.header {
  background-color: #3C1491;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url('./logo.png') no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.footer {
  height: 61px;
  background-color: #3C1491;
  color: #fff;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.btn {
  color: #fff;
  font-size: 16px;
  border: 1px solid #3C1491;
  background-color: #3C1491;
  cursor: pointer;
  transition: background-color .2s ease-in;
}

.btn:hover {
  background-color: #311079;
}

/* MAIN PAGE */
.background {
  position: absolute;
  z-index: -1;
  top: 68px;
  left: 0;
  width: 100%;
  height: calc(100vh - 68px - 61px);
  background-image: url('../images/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 0, 69, 0.42);
}

.main-wrapper {
  height: 100%;
}

.main {
  margin: 100px 0 15px 35px;
}

.main__title {
  margin-bottom: 18px;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  color: #fff;
}

.main__text {
  margin-bottom: 13px;
  max-width: 764px;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.rent-btn,
.search-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  height: 35px;
  line-height: 34px;
}

.rent-btn {
  width: 223px;
  margin-right: 26px;
}

.search-btn {
  width: 203px;
}

/* CATALOG */
.title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
}

.catalog-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.point-nav {
  flex-shrink: 0;
  width: 192px;
  margin-left: 30px;
}

.point-nav__title {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

.pointers-list {
  list-style: none;
}

.pointers-list li {
  position: relative;
  margin-bottom: 15px;
}

.pointers-list li:hover::before,
.pointers-list li.active::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3C1491;
}

.pointers-list li a {
  font-size: 18px;
  line-height: 26px;
  color: #333;
  text-decoration: none;
}

/* BIKE ITEMS */
#bikeList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.bikeItem {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 410px;
}

.bikeItem__img-block {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 1px solid #CECECE;
}

.bikeItem__img {
  max-width: 95%;
}

.bikeItem__title {
  flex-grow: 1;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
}

.bikeItem__price {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}

.bikeItem__btn {
  width: 170px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  text-decoration: none;
}

/* LOAD MORE BTN */
#loadMore {
  text-align: center;
}

.loadMore-btn {
  margin: 0 auto 40px;
  width: 170px;
  height: 38px;
  border-radius: 1px;
}

/* MAP PAGE */
#map {
  width: 100%;
  min-width: 500px;
  height: 600px;
}

.baloon__title {
  margin: 16px 25px 18px 16px;
  min-width: 284px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
}

.baloon__btn {
  margin-bottom: 18px;
  margin-left: 16px;
  display: inline-block;
  width: 200px;
  height: 38px;
  line-height: 38px;
  text-decoration: none;
  text-align: center;
}

/* REGISTRATION, LOGIN, CARD PAGE */
.title--center {
  text-align: center;
}

.form {
  width: 370px;
  margin: 0 auto 15px;
}

.form__label {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;
}

.form__input {
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  padding: 0 5px;
  outline-color: #aaaaaa;
}

.form__input--error {
  border-color: #E30000;
}

.form__link {
  text-decoration: none;
  line-height: 20px;
  color: #0000FF;
}

.form__message {
  line-height: 20px;
  color: #E30000;
  margin-bottom: 20px;
}

.login-btn {
  width: 100px;
  height: 38px;
  margin-right: 15px;
}

.reg-btn {
  width: 210px;
  height: 38px;
  margin-right: 15px;
}

.card-btn {
  width: 130px;
  height: 38px;
}

.tooltip {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(calc(100% + 10px), 50%);
  padding: 15px 20px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #E30000;
}

.tooltip::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: -9px;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
}

.tooltip::after {
  content: "";
  position: absolute;
  left: -11px;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #e6e6e6;
  border-bottom: 10px solid transparent;
}

.input-wrapper {
  position: relative;
  margin-bottom: 20px;
}

/* LK */
.lk-content-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.title--lk {
  margin: 0;
  margin-right: 30px;
}

.login {
  font-size: 24px;
  line-height: 34px;
  color: #B0B0B0;
}

.lk-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.lk-bike-list {
  width: 770px;
  margin-right: 15px;
}

.card {
  width: 370px;
  min-width: 275px;
  height: 232px;
  padding-top: 20px;
  border: 1px solid #CECECE;
  margin-top: 15px;
}

.card__title {
  padding: 0 30px 15px;
  font-size: 24px;
  line-height: 30px;
  border-bottom: 1px solid #CECECE;
}

.card__content {
  padding: 20px 30px 0;
}

.card__number {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;
}

.card__date {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}

.card__empty {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}

.lk-btn {
  width: 130px;
  height: 38px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 38px;
}

.bike {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.bike:not(:last-child) {
  margin-bottom: 30px;
}

.bike__content {
  padding: 15px 0;
}

.bikeItem__img-block--mr {
  flex-shrink: 0;
  margin-bottom: 0;
  margin-right: 50px;
}

.bike__title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.bike__time {
  margin-bottom: 10px;
}

.bike__price {
  margin-bottom: 20px;
}

.return-btn {
  width: 107px;
  height: 38px;
}

.empty-list-message {
  font-size: 18px;
  line-height: 26px;
}

/* ORDER */
.bike__title--order {
  margin-bottom: 50px;
}

.bike__text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
}

.bike__code {
  font-size: 48px;
  line-height: 60px;
}