{{> header}}
  <h3 class="title title--center">Реквизиты карты</h3>
  <form method="post" class="form">
    <label for="number" class="form__label">Номер карты</label>
    <div class="input-wrapper">
      <input type="text" class="form__input" id="number" name="number" value="{{ cardRequisites.number }}">
    </div>

    <label for="date" class="form__label">Срок действия</label>
    <div class="input-wrapper">
      <input type="text" class="form__input" id="date" name="date" value="{{ cardRequisites.date }}">
    </div>
    
    <label for="cvv" class="form__label">CVV</label>
    <div class="input-wrapper">
      <input type="text" class="form__input" id="cvv" name="cvv" value="{{ cardRequisites.cvv }}">
    </div>
    
    <button type="submit" class="btn card-btn">Сохранить</button>
  </form>

  <script src="../js/card-requisites.js"></script>
{{> footer}}
