{{> header}}
<div class="catalog-wrapper">
  <h3 class="title">Каталог велосипедов {{#pointInfo}}по адресу {{pointInfo.address}}{{/pointInfo}}</h3>
  <div class="catalog-content">
    <div id="bikeList"></div>
    <div class="point-nav">
      <h6 class="point-nav__title">Пункты выдачи</h6>
      <ul class="pointers-list">
        {{#pointersList}}
          <li class="{{#isActive}}active{{/isActive}}"><a href="/catalog/{{_id}}">{{address}}</a></li>
        {{/pointersList}}
        <li class="{{^pointInfo}}active{{/pointInfo}}"><a href="/catalog/">Все пункты</a></li>
      </ul>
    </div>
  </div>

  <div id="loadMore" class="">
    <button class="btn loadMore-btn hidden" type="button">Загрузить ещё</button>
  </div>

</div>
<script src="../js/api.js"></script>
<script src="../js/catalog.js"></script>
{{> footer}}
