{{> header}}
  <div class="background"></div>
  <div class="main-wrapper">
    <main class="main">
      <h1 class="main__title">Сервис аренды<br>велосипедов</h1>
      <p class="main__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis illo aperiam voluptatibus at nobis impedit illum deserunt vero commodi voluptate optio excepturi quidem nostrum laboriosam hic quas voluptas, ut!</p>
      <a class="btn rent-btn" href="/catalog">Арендовать велосипед</a>
      <a class="btn search-btn" href="/map">Найти пункт выдачи</a>
    </main>
  </div>
{{> footer}}
