{{> header}}
<div class="">
  <div class="lk-content-header">
    <h3 class="title title--lk">Личный кабинет</h3>
    <div class="login">{{#isLogin}}{{login}}{{/isLogin}}{{^isLogin}}login{{/isLogin}}</div>
  </div>
  <div class="lk-content">
    <div class="lk-bike-list">
      {{#orderList}}
        <div class="bike">
          <div class="bikeItem__img-block bikeItem__img-block--mr">
            <img src="../images/{{ bike.img }}" alt="bike" class="bikeItem__img">
          </div>
          <div class="bike__content">
            <div class="bike__title">{{ bike.name }}</div>
            <div class="bike__time">Прошло времени - {{ formatTotalTime }}</div>
            <div class="bike__price">Стоимость - {{ totalCost }} ₽</div>
            <button class="btn return-btn" data-order-id="{{ _id }}">Вернуть</button>
          </div>
        </div>
      {{/orderList}}
      {{^orderList}}
        <div class="empty-list-message">Нет арендованных велосипедов</div>
      {{/orderList}}
    </div>
    <div class="card">
      <h6 class="card__title">Реквизиты карты</h6>
      <div class="card__content">
        {{#cardRequisites}}
          <div class="card__number">{{cardRequisites.number}}</div>
          <div class="card__date">{{cardRequisites.date}}</div>
        {{/cardRequisites}}
        {{^cardRequisites}}
          <div class="card__empty">Нет данных</div>
        {{/cardRequisites}}
        <a class="btn lk-btn" href="/card-requisites">Изменить</a>
      </div>
    </div>
  </div>
</div>
<script src="../js/lk.js"></script>
{{> footer}}
