{{> header}}
	<h3 class="title title--center">Вход</h3>
	<form method="post" class="form">
		<label for="login" class="form__label">Логин</label>
		<div class="input-wrapper"><input type="text" class="form__input" id="login" name="login" value="{{ login }}"></div>
		
		<label for="password" class="form__label">Пароль</label>
		<div class="input-wrapper"><input type="password" class="form__input" id="password" name="password"></div>
		
		{{#isLoginError}}
			<p class="form__message">
				Неверные логин или пароль
			</p>
		{{/isLoginError}}
		
		<button type="submit" class="btn login-btn">Войти</button>
		<a href="/registration" class="form__link">или зарегистрироваться</a>
	</form>
{{> footer}}
