{{> header}}

<h3 class="title">Пункты выдачи</h3>
<div id="map"></div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=4f9543c9-e175-4ab6-84e8-743df4b507b6&lang=ru_RU" type="text/javascript"></script>
<script src="../js/api.js"></script>
<script src="../js/map.js"></script>

{{> footer}}
