{{> header}}
  <h3 class="title">Аренда велосипеда</h3>
  <div class="bike">
    <div class="bikeItem__img-block bikeItem__img-block--mr">
      <img src="../images/{{ bikeInfo.img }}" alt="bike" class="bikeItem__img">
    </div>
    <div class="bike__content">
      <div class="bike__title bike__title--order">{{ bikeInfo.name }}</div>
      <div class="bike__text">Чтобы забрать велосипед, введите код</div>
      <div class="bike__code">{{ orderCode }}</div>
    </div>
  </div>
{{> footer}}
