{{> header}}
	<h3 class="title title--center">Регистрация</h3>
	<form method="post" class="form">
		<label for="login" class="form__label">Логин</label>
		<div class="input-wrapper"><input type="text" class="form__input" id="login" name="login" value="{{ login }}"></div>
		
		<label for="password1" class="form__label">Пароль</label>
		<div class="input-wrapper"><input type="password" class="form__input" id="password1" name="password1"></div>
		
		<label for="password2" class="form__label">Повторите пароль</label>
		<div class="input-wrapper"><input type="password" class="form__input" id="password2" name="password2"></div>
		
		{{#notEqualPasswordsError}}
			<p class="form__message">
				Пароли не совпадают
			</p>
		{{/notEqualPasswordsError}}
		{{#isEmptyValuesError}}
			<p class="form__message"> 
				Заполните все поля
			</p>
		{{/isEmptyValuesError}}

		<button type="submit" class="btn reg-btn">Зарегистрироваться</button>
		<a href="/login" class="form__link">или войти</a>
	</form>

	<script src="../js/reg-validation.js"></script>
{{> footer}}
